* {
  outline: none;
  box-shadow: none;
}

.main {
  width: fit-content;
  margin: auto;
}

.row {
  display: flex;
}

button {
  height: 50px;
  width: 50px;
}

.buttons {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}

input {
  text-align: center;
  height: 50px;
  width: 50px;
  font-size: 25px;
  caret-color: transparent;
  user-select: none;
}

input:focus {
  background-color: #ccc;
}

input::selection {
  background: transparent;
}
